/* UTILITIES */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: cursive;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

/**********************************

En-tête - Header

**********************************/

.header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    box-sizing: inherit;
    background-color: #105f6b;
    color: #fff;
}
.container{
    display: block;
    text-align: center!important;
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: auto;
}

.head{
    padding: 3rem 3rem;
}

.title{
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 2.5rem;
}

.subTitle{
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.9);
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.25;
    word-break: break-word;
}



/**********************************

Menu navigattion

**********************************/


/* NAVBAR STYLING STARTS */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: teal;
    color: #fff;
}

.nav-links a{
    color: #fff;
}

/* LOGO */ 
.logo{
    font-size: 32px;

}
/* NAVBAR MENU */
.menu{
    display: flex;
    gap: 1em;
    font-size: 18px;
}
   
.menu li:hover{
    background-color: #4c9e9e;
    border-radius: 5px;
    transition: 0.3s ease;
}
   
.menu li{
    padding: 5px 14px;
}
   
/* DROPDOWN MENU */
.services{
    position: relative; 
}
   
.dropdown{
    background-color: rgb(1, 139, 139);
    padding: 1em 0;
    position: absolute;
    display: none;
    border-radius: 8px;
    top: 35px;
}
   
.dropdown li + li{
    margin-top: 10px;
}

.dropdown li{
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
}
   
.dropdown li:hover{
    background-color: #4c9e9e;
}
   
.services:hover .dropdown{
    display: block;
}

/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type=checkbox]{
    display: none;
}

/*HAMBURGER MENU*/ 
.hamburger{
    display: none;
    font-size: 24px;
    user-select: none;
}
   
/* APPLYING MEDIA QUERIES */
@media(max-width: 768px){
    .menu{ 
        display:none;
        position: absolute;
        background-color:teal;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
    }

    .menu li:hover{
        display: inline-block;
        background-color:#4c9e9e;
        transition: 0.3s ease;
    }
   
    .menu li + li{
        margin-top: 12px;
    }

    input[type=checkbox]:checked ~ .menu{
        display: block;
    }

    .hamburger{
        display: block;
    }

    .dropdown{
        left: 50%;
        top: 30px;
        transform: translateX(35%);
    }

    .dropdown li:hover{
        background-color: #4c9e9e;
    }
}


/**********************************

Contenu

**********************************/

.module{
    padding: 1vh 0;
    background-color: rgb(42, 192, 180);
}

.titre{
    text-align: center;
    margin: 5vh auto;
    width: 80%;
    border: solid black 1px;
}

.description{
    text-align: center;
    padding: 10px;
}

.titouan{
    margin: auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titouan div{
    text-align: center;
    background-color: orange;
    border: solid black 1px;
    width: 17%;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#matiere{
    font-size: 30px;
    text-align: center;
}

@media(max-width: 768px){
    .titouan{
        flex-direction: column;
    }

    .titouan div{
        width: 100%;
    }
}

/**********************************

Pied de page - Footer

**********************************/

.col_white_amrc{ 
    color:#FFF;
}

footer{ 
    width:100%; 
    background-color:#263238; 
    min-height:250px; 
    padding:10px 0px 25px 0px ;
}

.pt2{ 
    padding-top:40px ;
     margin-bottom:20px ;
}

footer p{ 
    font-size:13px; 
    color:#CCC; 
    padding-bottom:0px; 
    margin-bottom:8px;
}

.mb10{ 
    padding-bottom:15px ;
}

.footer_ul_amrc{ 
    margin:0px ; 
    list-style-type:none ; 
    font-size:14px; 
    padding:0px 0px 10px 0px ; 
}

.footer_ul_amrc li{
    padding:0px 0px 5px 0px;
}

.footer_ul_amrc li a{ 
    color:#CCC;
}

.footer_ul_amrc li a:hover{ 
    color:#fff; 
    text-decoration:none;
}

.fleft{ 
    float:left;
}

.padding-right{ 
    padding-right:10px; 
}

.footer_ul2_amrc{
    margin:0px; 
    list-style-type:none; 
    padding:0px;}

.footer_ul2_amrc li p{ 
    display:table; 
}

.footer_ul2_amrc li a:hover{ 
    text-decoration:none;
}

.footer_ul2_amrc li i{ 
    margin-top:5px;
}


.bottom_border{ 
    border-bottom:1px solid #323f45; 
    padding-bottom:20px;
}

.foote_bottom_ul_amrc{
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}

.foote_bottom_ul_amrc li{ 
    display:inline;
}

.foote_bottom_ul_amrc li a{ 
    color:#999; margin:0 12px;
}

.social_footer_ul{ 
    display:table; 
    margin:15px auto 0 auto; 
    list-style-type:none;  
}

.social_footer_ul li{ 
    padding-left:20px; 
    padding-top:10px; 
    float:left; 
}

.social_footer_ul li a{ 
    color:#CCC; 
    border: 1px solid #CCC; 
    padding: 8px;border-radius:50%;
}

.social_footer_ul li i{  
    width: 20px; 
    height: 20px; text-align: center;
}
